@charset "utf-8";
/*
    IBK 신전자문서 시스템 관리자

    Font.css
*/

@font-face {
	font-family:'Spoqa Han Sans Neo';
	font-style:normal;
	font-weight:400;
	src:url(../font/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
		url(../font/SpoqaHanSansNeo-Regular.woff) format('woff'),
		url(../font/SpoqaHanSansNeo-Regular.otf) format('opentype'),
    url(../font/SpoqaHanSansNeo-Regular.eot?#iefix) format('embedded-opentype');
}
@font-face {
	font-family:'Spoqa Han Sans Neo';
	font-style:normal;
	font-weight:500;
	src:url(../font/SpoqaHanSansNeo-Medium.woff2) format('woff2'),
		url(../font/SpoqaHanSansNeo-Medium.woff) format('woff'),
		url(../font/SpoqaHanSansNeo-Medium.otf) format('opentype'),
		url(../font/SpoqaHanSansNeo-Medium.eot?#iefix) format('embedded-opentype');
}
@font-face {
	font-family:'Spoqa Han Sans Neo';
	font-style:normal;
	font-weight:700;
	src:url(../font/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
		url(../font/SpoqaHanSansNeo-Bold.woff) format('woff'),
		url(../font/SpoqaHanSansNeo-Bold.otf) format('opentype'),
		url(../font/SpoqaHanSansNeo-Bold.eot?#iefix) format('embedded-opentype');
}